<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<!-- Allow JIT compilation for WebKit. -->
	<key>com.apple.security.cs.allow-jit</key>
	<true/>
	<!-- Allows the app to be debugged. Set to false for production builds. -->
	<key>com.apple.security.get-task-allow</key>
	<true/>
</dict>
</plist>
